#Import

This code imports the system executable and operating system

In [1]:
import sys
print("Python Executable Path:", sys.executable) #String that contains absolute path to Python interpreter
import os #imports operating system (desktop)
print("Operating System Desktop Path:", os.getcwd())

Python Executable Path: /Users/mmandig/miniconda3/bin/python
Operating System Desktop Path: /Users/mmandig/Desktop

This code imports the Biopython and Pandas package

In [2]:
from Bio import SeqIO # Import Biopython's Sequence Input/Output interface
from Bio.Seq import Seq   # Import Biopython's Seq class
from Bio.SeqIO.FastaIO import SimpleFastaParser #Imports Parser for Large Files   
import pandas as pd       # Import Pandas for data manipulation
import numpy as np        # Import scientific and mathematic calculations

#Test

Testing Biopython and Pandas

In [11]:
# Test Biopython
#seq = Seq("AGTACACTGGT")
#print(seq)

# Test Pandas
#data = pd.DataFrame({"Column1": [1, 2, 3], "Column2": ["A", "B", "C"]})
#print(data)

#Fasta File

Reading File Data

In [3]:
file_path = "HIV1_ALL_2022_env_PRO.fasta"

#The SeqIO allows to parse the data frame

sequence_records = []
with open(file_path) as fasta_file:
        for record in SeqIO.parse(fasta_file , "fasta"):
            sequence_records.append({
                "Header": str(record.id),
                "Sequence": (record.seq)  
            })

seq_df = pd.DataFrame.from_records(sequence_records)

#Categorizing

Manipulating the sequence headers of subtype.country.year.sequence_id.sequence_accession_number into the sequences' respective categories.
Creating a dataframe for these sequence headers

In [13]:
#This code is a trial of renaming names of the column headers
#seq_df = seq_df.assign(
 #   subtype=None,
 #   country=None,
  #  year=None,
  #  sequence_id=None,
  #  sequence_accession_number=None
#)

#print(seq_df)




#replace none with the values from the sequences?

Accessing the first string test

In [14]:
#Accessing the first string which is the header
#seq_header = seq_df["Header"][0]

#print(seq_header)

Iterating over the other strings

In [15]:
#This code splits the header sequence from their periods (.)

#for i in seq_df["Header"]:
   # id = i.split(".")
  #  print(id)

This code performs functions that converts, splits, renames, and inserts variables, columns, and data types in the dataframe

In [4]:


#This line creates a seperate table for the sequence data and converts it into a string 
seq_data = seq_df["Sequence"].astype(str)

#This line splits the string into five categories and creates 5 columns
id = seq_df['Header'].str.split(".", n = 4 ,expand=True)
id.rename(columns={0: "Subtype", 1: "Country", 2: "Year", 3: "Sequence ID", 4: "Sequence Accession Number"}, inplace= 'TRUE')
id.insert(5, "Sequence Data", seq_data) 
id

,Subtype,Country,Year,Sequence ID,Sequence Accession Number,Sequence Data
0,B,FR,83,HXB2_LAI_IIIB_BRU,K03455,MRVK--EKY--Q---HL-W-------R-WG---W------------...
1,A,CD,87,P4039,MH705157,MRVM--GTR--R----N-Y-------P-RL---W------------...
2,A,CH,03,HIV_CH_BID_V3538_2003,JQ403028,MRVM--GMQ--R----N-Y-------P-HW---W------------...
3,A,ZA,04,04ZASK162B1,DQ396400,MRVM--ETQ--R----N-Y-------P-RW---W------------...
4,A,ZA,09,707PKE02N3,HM623589,MRVR--GTQ--M----N-C-------Q-GW---W------------...
...,...,...,...,...,...,...
10728,N,CM,95,YBF30_patent,HV199816,MKVM--GMQ-------S-GW-----MGM------------------...
10729,N,CM,97,YBF106,AJ271370,M-----GMQ-------S-G---------------------------...
10730,N,FR,11,N1_FR_2011,JN572926,MRVM--GMK-------S-Y---------------------------...
10731,P,CM,06,U14788,HQ179987,----------------------------------------------...
10732,P,FR,06,RBF168,GQ328744,----------------------------------------------...

This code identifies the 'x' value in Year and Country removes it

In [5]:

id = id[~id["Year"].isin(["x"]) & ~id["Country"].isin(["x"])]

display(id)
print(id.shape)

,Subtype,Country,Year,Sequence ID,Sequence Accession Number,Sequence Data
0,B,FR,83,HXB2_LAI_IIIB_BRU,K03455,MRVK--EKY--Q---HL-W-------R-WG---W------------...
1,A,CD,87,P4039,MH705157,MRVM--GTR--R----N-Y-------P-RL---W------------...
2,A,CH,03,HIV_CH_BID_V3538_2003,JQ403028,MRVM--GMQ--R----N-Y-------P-HW---W------------...
3,A,ZA,04,04ZASK162B1,DQ396400,MRVM--ETQ--R----N-Y-------P-RW---W------------...
4,A,ZA,09,707PKE02N3,HM623589,MRVR--GTQ--M----N-C-------Q-GW---W------------...
...,...,...,...,...,...,...
10728,N,CM,95,YBF30_patent,HV199816,MKVM--GMQ-------S-GW-----MGM------------------...
10729,N,CM,97,YBF106,AJ271370,M-----GMQ-------S-G---------------------------...
10730,N,FR,11,N1_FR_2011,JN572926,MRVM--GMK-------S-Y---------------------------...
10731,P,CM,06,U14788,HQ179987,----------------------------------------------...
10732,P,FR,06,RBF168,GQ328744,----------------------------------------------...

(9975, 6)

This code converts the year into an int

In [6]:

id["Year"] = pd.to_numeric(id["Year"], errors="coerce")

#Drop rows where Year could not be converted
id = id.dropna(subset=["Year"])

#Convert the values to integer
id["Year"] = id["Year"].astype(int)
print(id)

      Subtype Country  Year            Sequence ID Sequence Accession Number  \
0           B      FR    83      HXB2_LAI_IIIB_BRU                    K03455
1           A      CD    87                  P4039                  MH705157
2           A      CH     3  HIV_CH_BID_V3538_2003                  JQ403028
3           A      ZA     4            04ZASK162B1                  DQ396400
4           A      ZA     9             707PKE02N3                  HM623589
...       ...     ...   ...                    ...                       ...
10728       N      CM    95           YBF30_patent                  HV199816
10729       N      CM    97                 YBF106                  AJ271370
10730       N      FR    11             N1_FR_2011                  JN572926
10731       P      CM     6                 U14788                  HQ179987
10732       P      FR     6                 RBF168                  GQ328744

                                           Sequence Data
0      MRVK--EKY--Q---HL-W-------R-WG---W------------...
1      MRVM--GTR--R----N-Y-------P-RL---W------------...
2      MRVM--GMQ--R----N-Y-------P-HW---W------------...
3      MRVM--ETQ--R----N-Y-------P-RW---W------------...
4      MRVR--GTQ--M----N-C-------Q-GW---W------------...
...                                                  ...
10728  MKVM--GMQ-------S-GW-----MGM------------------...
10729  M-----GMQ-------S-G---------------------------...
10730  MRVM--GMK-------S-Y---------------------------...
10731  ----------------------------------------------...
10732  ----------------------------------------------...

[9975 rows x 6 columns]

/var/folders/l1/19jvgx017kgctbbr17ykrxk00000gn/T/ipykernel_1453/2619861226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  id["Year"] = pd.to_numeric(id["Year"], errors="coerce")

#Unique Numbers

This code obtains the unique numbers and sorts it by descending order in the dataframe

In [7]:
#Gap between 22 and 76 so cut-off value is < 75

unique_num = id['Year'].drop_duplicates()
unique_num_sort = unique_num.sort_values()
print(unique_num_sort)

65       0
88       1
14       2
2        3
3        4
28       5
20       6
21       7
22       8
4        9
135     10
23      11
164     12
49      13
193     14
50      15
51      16
236     17
239     18
240     19
619     20
812     21
3625    22
9214    76
3626    78
3628    79
3633    81
1126    82
0       83
3652    84
319     85
168     86
1       87
1818    88
1633    89
169     90
54      91
243     92
170     93
6       94
175     95
178     96
7       97
182     98
27      99
Name: Year, dtype: int64

This code appends the values so years that are < than 75 have a 20 appended to the front

In [8]:
#Adjust the years


if id["Year"].max() < 3000:  
    id.loc[id["Year"] < 75, "Year"] += 2000
    id.loc[(id["Year"] > 75) & (id["Year"] < 2000), "Year"] += 1900



display(id)

,Subtype,Country,Year,Sequence ID,Sequence Accession Number,Sequence Data
0,B,FR,1983,HXB2_LAI_IIIB_BRU,K03455,MRVK--EKY--Q---HL-W-------R-WG---W------------...
1,A,CD,1987,P4039,MH705157,MRVM--GTR--R----N-Y-------P-RL---W------------...
2,A,CH,2003,HIV_CH_BID_V3538_2003,JQ403028,MRVM--GMQ--R----N-Y-------P-HW---W------------...
3,A,ZA,2004,04ZASK162B1,DQ396400,MRVM--ETQ--R----N-Y-------P-RW---W------------...
4,A,ZA,2009,707PKE02N3,HM623589,MRVR--GTQ--M----N-C-------Q-GW---W------------...
...,...,...,...,...,...,...
10728,N,CM,1995,YBF30_patent,HV199816,MKVM--GMQ-------S-GW-----MGM------------------...
10729,N,CM,1997,YBF106,AJ271370,M-----GMQ-------S-G---------------------------...
10730,N,FR,2011,N1_FR_2011,JN572926,MRVM--GMK-------S-Y---------------------------...
10731,P,CM,2006,U14788,HQ179987,----------------------------------------------...
10732,P,FR,2006,RBF168,GQ328744,----------------------------------------------...

#Query Test

These code queries the results based on subtype, country, and year

This code queries the subtype

In [11]:
id.query('Subtype in ("B", "A")')

,Subtype,Country,Year,Sequence ID,Sequence Accession Number,Sequence Data
0,B,FR,1983,HXB2_LAI_IIIB_BRU,K03455,MRVK--EKY--Q---HL-W-------R-WG---W------------...
1,A,CD,1987,P4039,MH705157,MRVM--GTR--R----N-Y-------P-RL---W------------...
2,A,CH,2003,HIV_CH_BID_V3538_2003,JQ403028,MRVM--GMQ--R----N-Y-------P-HW---W------------...
3,A,ZA,2004,04ZASK162B1,DQ396400,MRVM--ETQ--R----N-Y-------P-RW---W------------...
4,A,ZA,2009,707PKE02N3,HM623589,MRVR--GTQ--M----N-C-------Q-GW---W------------...
...,...,...,...,...,...,...
4172,B,ZA,1986,R1296,MH234639,MRVK--GTR--K----N-Y-------Q-HL---WRWG---------...
4173,B,ZA,1987,R459,MH234640,MKAK--ETR--K----N-Y-------Q-HW---W------------...
4174,B,ZA,1987,R526,MH234641,MKVK--GIR--K----N-Y-------Q-HL---W------------...
4175,B,ZA,1998,TV016,KJ948656,MRVK--ETR--K----N-C-------Q-HL---W------------...
4176,B,ZA,1999,99ZASM1,AY505010,MTVK--GTR--K----S-Y-------Q-HL---W------------...

This code queries the countries

In [10]:
id.query('Country in ("CD")')

,Subtype,Country,Year,Sequence ID,Sequence Accession Number,Sequence Data
1,A,CD,1987,P4039,MH705157,MRVM--GTR--R----N-Y-------P-RL---W------------...
14,A1,CD,2002,LA01AlPr,KU168256,MRVM--GTQ--K----S-Y-------Q-NL---W------------...
15,A1,CD,1987,2106,MH705158,MRAM--GTQ--M----N-W-------Q-NL---W------------...
16,A1,CD,1987,70641,MH705151,MRVM--GTQ--R----N-Y-------P-LL---W------------...
17,A1,CD,1987,PBS6126,MH705153,MRVI--GTQ--R----N-Y-------S-SL---W------------...
...,...,...,...,...,...,...
10610,U,CD,2002,CG_0059_01_NGSID8,KY392773,MRVM--GTQ--R----N-Y-------P-HL---W------------...
10611,U,CD,2002,CG_0062_01_NGSID10,KY392774,MRVM--GTQ--R----N-Y-------P-HL---W------------...
10612,U,CD,2002,CG_0575_02_NGSID12,KY392775,MRVR--GRQ--R----N-W-------Q-PW---G------------...
10613,U,CD,1997,KMST120,AJ401039,MRVR--EMQ--R----N-W-------Q-NL---G------------...
10614,U,CD,1997,KTB54,AJ401043,MKVT--GIQ--R----N-W-------H-HL---G------------...

This code queries the years

In [9]:
#This code calls a range of years and sorts it by numerical value

# Filter the data for years between 1980 and 2000 
query_test = id.query('Year >= 1980 & Year <= 2000')

# When it gives you the range of the years you have to sort the filtered data by the 'Year' column
query_test_sorted = query_test.sort_values(by="Year")

print(query_test_sorted)

     Subtype Country  Year Sequence ID Sequence Accession Number  \
3639       B      US  1981       81NY3                  AY247224
3638       B      US  1981       81NY2                  AY247223
3637       B      US  1981       81NY1                  AY247222
3636       B      US  1981        81NJ                  AY247221
3635       B      US  1981        81GA                  AY247220
...      ...     ...   ...         ...                       ...
9946    A1CD      KE  2000     KER2017                  AF457056
9937     A1C      ZA  2000       TV239                  FJ647147
9936     A1C      ZA  2000       TV218                  KJ948661
7245   01_AE      TH  2000     3203A14               A1.KJ953555
397       A6      RU  2000  RU00031_A2                  JF952012

                                          Sequence Data
3639  MRVK--ETR--K----N-Y-------Q-HL---W------------...
3638  MKVK--EIR--K----N-Y-------Q-HL---W------------...
3637  MRAK--VIR--K----N-C-------Q-HL---W------------...
3636  MRVK--EIR--K----N-Y-------Q-HL---W------------...
3635  MRVK--EIG--K----N-Y-------Q-YL---W------------...
...                                                 ...
9946  MRVM--GIQ--R----N-C-------Q-RL---W------------...
9937  MRVM--GIQ--R----N-C-------Q-QW---W------------...
9936  MRVR--GIX--R----N-W-------P-QW---W------------...
7245  MRVK--GTQ--M----N-W-------P-NL---W------------...
397   MKAR--GMQ--R----N-Y-------Q-HL---W------------...

[1727 rows x 6 columns]

In [12]:
query_test = id.query('Year == 1976')
print(query_test)

     Subtype Country  Year Sequence ID Sequence Accession Number  \
9214   01A1G      CD  1976        Z321                    M15896

                                          Sequence Data
9214  MKVK--GIQ--G----N-W-------Q-NW---W------------...

These codes process multiple queries on the sequences

In [21]:
#This code process the "HVTN 702" query

HVTN_702_query = id.query('Subtype in ("C") & Country in ("ZA") & Year >= 2016 & Year <= 2021')

print(HVTN_702_query)
#select_col
#if id.query('Subtype in ("C")'):
   # id.query('Country in ("ZA") & Year >= 2016 & Year <= 2021')
   # id.query('Year >= 2016 & Year <= 2021')

     Subtype Country  Year                      Sequence ID  \
5812       C      ZA  2016                      208_AT_SGA1
5813       C      ZA  2016                     CAP302_B_W11
5814       C      ZA  2016                      CAP316_B_W1
5815       C      ZA  2016                     CAP336_B_W10
5816       C      ZA  2016        V703_1945_090_RE_sga2A3_s
5817       C      ZA  2017          111_30_0011_LN_DNA_SGA1
5818       C      ZA  2017          111_30_0053_LN_DNA_SGA1
5819       C      ZA  2017                       CAP287_W13
5820       C      ZA  2017                      CAP288_B_W3
5821       C      ZA  2017      V703_0514_150_RE_pblib004_s
5822       C      ZA  2017      V703_0537_110_RE_pblib003_s
5823       C      ZA  2017           V703_0566_160_RE_con_s
5824       C      ZA  2017           V703_0646_051_RE_con_s
5825       C      ZA  2017  V703_0739_110_RE_con_s_modified
5826       C      ZA  2017           V703_0795_040_RE_con_s
5827       C      ZA  2017        V703_0926_070_RE_sga2H2_s
5828       C      ZA  2017           V703_1060_080_RE_con_s
5829       C      ZA  2017           V703_1313_040_RE_con_s
5830       C      ZA  2017      V703_1407_090_RE_pblib002_s
5831       C      ZA  2017           V703_1446_040_RE_con_s
5832       C      ZA  2017           V703_1471_190_RE_con_s
5833       C      ZA  2017      V703_1551_140_RE_pblib002_s
5834       C      ZA  2017  V703_1675_080_RE_con_s_modified
5835       C      ZA  2018         111_30_118_PBMC_DNA_SGA1
5836       C      ZA  2018                      318_AT_SGA1
5837       C      ZA  2018      V703_0132_200_RE_pblib002_s
5838       C      ZA  2018  V703_0279_110_RE_con_s_modified
5839       C      ZA  2018       V703_0406_240_RE_sga11E3_s
5840       C      ZA  2018           V703_0482_250_RE_con_s
5841       C      ZA  2018           V703_0578_130_RE_con_s
5842       C      ZA  2018      V703_0902_140_RE_pblib001_s
5843       C      ZA  2018         V703_1026_120_RE_sgaA5_s
5844       C      ZA  2018         V703_1357_230_RE_sgaH1_s
5845       C      ZA  2018      V703_1453_240_RE_pblib002_s
5846       C      ZA  2018           V703_1515_120_RE_con_s
5847       C      ZA  2018           V703_1687_100_RE_con_s
5848       C      ZA  2018           V703_1750_140_RE_con_s
5849       C      ZA  2018           V703_1783_170_RE_con_s
5850       C      ZA  2018      V703_1798_170_RE_pblib001_s
5851       C      ZA  2018           V703_1828_220_RE_con_s
5852       C      ZA  2018           V703_1889_100_RE_con_s
5853       C      ZA  2018           V703_1971_200_RE_con_s
5854       C      ZA  2018      V703_2539_070_RE_pblib002_s
5855       C      ZA  2018      V703_2769_050_RE_pblib001_s
5856       C      ZA  2018      V703_3000_090_RE_pblib001_s
5857       C      ZA  2019              111_33_3011_LN_SGA1
5858       C      ZA  2019           V703_0455_160_RE_con_s
5859       C      ZA  2019      V703_0597_190_RE_pblib002_s
5860       C      ZA  2019      V703_0712_250_RE_pblib001_s
5861       C      ZA  2019       V703_0805_770_RE_sga10C9_s
5862       C      ZA  2019           V703_0993_110_RE_con_s
5863       C      ZA  2019           V703_1194_150_RE_con_s
5864       C      ZA  2019      V703_1240_201_RE_pblib003_s
5865       C      ZA  2019           V703_1758_260_RE_con_s
5866       C      ZA  2019           V703_1764_250_RE_con_s
5867       C      ZA  2019        V703_2018_240_RE_sga6A1_s
5868       C      ZA  2019       V703_2117_110_RE_sga2A10_s
5869       C      ZA  2019           V703_2304_150_RE_con_s
5870       C      ZA  2019           V703_2934_110_RE_con_s

     Sequence Accession Number  \
5812                  OP121457
5813                  MN097661
5814                  MN097669
5815                  MN097680
5816                  ON891071
5817                  OQ554784
5818                  OQ554827
5819                  MN097648
5820                  MN097654
5821                  ON890968
5822                  ON890973
5823                  ON890976
5824                  ON890987
5825                  ON890990
5826                  ON890994
5827                  ON891001
5828                  ON891010
5829                  ON891026
5830                  ON891031
5831                  ON891034
5832                  ON891037
5833                  ON891040
5834                  ON891046
5835                  OQ554911
5836                  OP121491
5837                  ON890943
5838                  ON890950
5839                  ON890957
5840                  ON890963
5841                  ON890978
5842                  ON891000
5843                  ON891006
5844                  ON891027
5845                  ON891035
5846                  ON891038
5847                  ON891048
5848                  ON891053
5849                  ON891057
5850                  ON891059
5851                  ON891061
5852                  ON891068
5853                  ON891074
5854                  ON891082
5855                  ON891085
5856                  ON891091
5857                  OQ554928
5858                  ON890960
5859                  ON890979
5860                  ON890988
5861                  ON890995
5862                  ON891005
5863                  ON891014
5864                  ON891017
5865                  ON891054
5866                  ON891055
5867                  ON891075
5868                  ON891077
5869                  ON891080
5870                  ON891090

                                          Sequence Data
5812  MRVR--GIQ--R----N-C-------P-QW---W------------...
5813  MRVR--GTR--K----N-Y-------Q-QW---W------------...
5814  MRVM--GTQ--R----N-W-------P-QW---W------------...
5815  MRVR--GIQ--R----N-W-------P-QW---W------------...
5816  MRVR--GTQ--R----N-C-------P-PW---W------------...
5817  MRVM--GIL--K----N-Y-------Q-QW---W------------...
5818  MRVR--GIQ--R----N-W-------P-QW---W------------...
5819  MRVM--GIL--R----S-C-------P-QW---W------------...
5820  MRVR--GTQ--R----N-W-------P-QW---W------------...
5821  MRVK--GTL--R----N-W-------Q-QW---W------------...
5822  MKVK--GTQ--R----N-W-------P-QW---W------------...
5823  MRVM--GTW--R----N-W-------P-QWY-IW------------...
5824  MRVR--GIP--R----N-W-------P-QW---W------------...
5825  MRVR--GIL--R----N-W-------Q-QW---W------------...
5826  MRVK--GIL--K----N-C-------L-PW---W------------...
5827  MRVM--GTQ--K----N-Y-------Q-QW---W------------...
5828  MRVR--GIL--K----N-W-------Q-QW---W------------...
5829  MTVM--GIQ--K----S-Y-------L-PW---W------------...
5830  MKVK--GIQ--R----N-C-------P-QW---W------------...
5831  MRVR--GIP--R----N-W-------Q-QW---W------------...
5832  MRVM--GIL--K----N-C-------Q-HW---L------------...
5833  MRVM--GIQ--R----N-C-------Q-QW---W------------...
5834  MRVM--GIL--R----N-C-------Q-QW---W------------...
5835  MRVM--GIM--R----N-C-------Q-QW---W------------...
5836  MRVR--GIL--R----N-C-------P-RW---W------------...
5837  MRVR--GML--R----N-W-------P-QW---L------------...
5838  MRVK--GIW--K----N-W-------P-QW---W------------...
5839  MRVM--GIL--R----N-W-------P-QW---W------------...
5840  MRVR--EML--R----S-Y-------P-QW---W------------...
5841  MKVT--GTW--R----T-W-------Q-HW---W------------...
5842  MRVR--GIQ--R----N-W-------P-QW---W------------...
5843  MRVR--GIQ--R----N-W-------Q-QW---W------------...
5844  MRVR--GTQ--R----N-W-------P-QW---W------------...
5845  MKVM--GTW--R----N-W-------P-QW---W------------...
5846  MRVM--GIR--R----N-L-------P-HW---G------------...
5847  MKVR--GIP--R----N-W-------T-QW---W------------...
5848  MRVK--GMR--K----N-Y-------Q-QW---W------------...
5849  MRVM--GIL--R----N-C-------Q-QW---W------------...
5850  MRVM--GIL--R----N-C-------Q-GW---L------------...
5851  MRVR--GIL--R----N-W-------Q-LW---W------------...
5852  MRVK--GIQ--R----N-W-------P-QW---W------------...
5853  MRVM--GMR--R----N-W-------Q-PW---W------------...
5854  MRVR--GIQ--R----N-Y-------P-QW---W------------...
5855  MRVR--GML--R----N-C-------P-PW---W------------...
5856  MRVR--GIL--R----N-Y-------Q-QW---W------------...
5857  MRVR--GIQ--R----N-W-------P-QW---W------------...
5858  MRVR--GMW--R----N-Y-------Q-LW---W------------...
5859  MRVT--GIL--R----N-Y-------Q-RG---W------------...
5860  MRVR--GIL--R----N-Y-------Q-QW---W------------...
5861  MRVM--GTL--R----N-Y-------Q-QW---W------------...
5862  MRVM--GMW--R----N-C-------Q-HW---W------------...
5863  MRVR--GTL--R----N-Y-------Q-QW---W------------...
5864  MRVT--GIL--R----N-Y-------L-LW---W------------...
5865  MRVM--GMP--R----N-W-------P-QW---W------------...
5866  MRVM--GTQ--K----N-W-------Q-PW---W------------...
5867  MRVR--GML--R----N-W-------Q-QW---W------------...
5868  MRVM--GTR--R----N-W-------A-QW---W------------...
5869  MKVM--GIQ--R----N-C-------Q-RW---W------------...
5870  MRVR--GRL--R----N-W-------P-QW---W------------...

In [24]:
#This code processes the "HVTN 706" query

HVTN_706_query = id.query('Subtype in ("B", "CRF12_BF") & Country in ("US", "AR", "IT", "MX", "PE", "PL", "ES") & Year >= 2019 & Year <= 2024')

print(HVTN_706_query)

     Subtype Country  Year                       Sequence ID  \
2330       B      PE  2019    V704_0026_231_RE_NT_pblib001_3
2331       B      PE  2019   V704_0029_170_RE_NT_pblib001_11
2332       B      PE  2019  V704_0298_180_RE_NT_pblib001_117
2333       B      PE  2019    V704_0372_250_RE_NT_pblib001_7
2334       B      PE  2019   V704_0445_180_RE_NT_pblib001_22
...      ...     ...   ...                               ...
3621       B      US  2019    V704_0856_240_RE_NT_pblib001_9
3622       B      US  2020                                P2
3623       B      US  2020              p5t5_qvoa_gag_well10
3624       B      US  2021                                P3
3625       B      US  2022                                P4

     Sequence Accession Number  \
2330                  OQ912888
2331                  ON980814
2332                  ON980821
2333                  OQ912889
2334                  ON980823
...                        ...
3621                  OQ912891
3622         AAK1.d22.OQ092463
3623                  MW262781
3624     ZFYVE9.T745C.OQ092466
3625        CCND3.d22.OQ092467

                                          Sequence Data
2330  MKVK--GTR--K----N-Y-------Q-NL---WGW----------...
2331  MKVK--GIR--K----N-C-------Q-HL--FW------------...
2332  MRVK--EIM--K----N-C-------Q-HS--CW------------...
2333  MKVK--EIR--R----N-Y-------Q-QW---W------------...
2334  MRVM--EIR--R----N-Y-------Q-NL---W------------...
...                                                 ...
3621  MRVR--GTR--R----N-Y-------Q-DF---W------------...
3622  MRAR--GIR--K----N-Y-------Q-HL--LW------------...
3623  MRAK--GIR--R----N-Y-------Q-HL---W------------...
3624  MKVR--GIR--K----N-Y-------Q-HW---W------------...
3625  MRVK--EIR--K----N-C-------R-HL---WRWG---------...

[62 rows x 6 columns]

#Export

These codes aim to export the HVTN 702 and HVTN 706 queries into a FASTA file

HVTN 702 Fasta File

In [33]:
#This code exports the HVTN 702 query
#Zip merges and closes the two lists together

sequence_id = HVTN_702_query['Sequence ID']
sequence_data = HVTN_702_query['Sequence Data']
 
with open("HVTN_702_sequences.fasta", "w") as f:
    for sequence_id, sequence_data in zip(sequence_id, sequence_data):
        f.write(f">{sequence_id}\n{sequence_data}\n") #This converts the header (sequence_id) and the sequence data to a string

In [34]:

sequence_id_2 = HVTN_706_query['Sequence ID']
sequence_data_2 = HVTN_706_query['Sequence Data']
 
with open("HVTN_706_sequences.fasta", "w") as f:
    for sequence_id_2, sequence_data_2 in zip(sequence_id_2, sequence_data_2):
        f.write(f">{sequence_id_2}\n{sequence_data_2}\n")