#Import

This code imports the system executable and operating system

In [1]:
import sys
print("Python Executable Path:", sys.executable) #String that contains absolute path to Python interpreter
import os #imports operating system (desktop)
print("Operating System Desktop Path:", os.getcwd())

Python Executable Path: /Users/mmandig/miniconda3/bin/python
Operating System Desktop Path: /Users/mmandig/Desktop

This code imports the Biopython and Pandas package

In [2]:
from Bio import SeqIO # Import Biopython's Sequence Input/Output interface
from Bio.Seq import Seq   # Import Biopython's Seq class
from Bio.SeqIO.FastaIO import SimpleFastaParser #Imports Parser for Large Files   
import pandas as pd       # Import Pandas for data manipulation
import numpy as np        # Import scientific and mathematic calculations

#Test

Testing Biopython and Pandas

In [11]:
# Test Biopython
#seq = Seq("AGTACACTGGT")
#print(seq)

# Test Pandas
#data = pd.DataFrame({"Column1": [1, 2, 3], "Column2": ["A", "B", "C"]})
#print(data)

#Fasta File

Reading File Data

In [3]:
file_path = "HIV1_ALL_2022_env_PRO.fasta"

#The SeqIO allows to parse the data frame

sequence_records = []
with open(file_path) as fasta_file:
        for record in SeqIO.parse(fasta_file , "fasta"):
            sequence_records.append({
                "Header": str(record.id),
                "Sequence": (record.seq)  
            })

seq_df = pd.DataFrame.from_records(sequence_records)

#Categorizing

Manipulating the sequence headers of subtype.country.year.sequence_id.sequence_accession_number into the sequences' respective categories.
Creating a dataframe for these sequence headers

In [13]:
#This code is a trial of renaming names of the column headers
#seq_df = seq_df.assign(
 #   subtype=None,
 #   country=None,
  #  year=None,
  #  sequence_id=None,
  #  sequence_accession_number=None
#)

#print(seq_df)




#replace none with the values from the sequences?

Accessing the first string test

In [14]:
#Accessing the first string which is the header
#seq_header = seq_df["Header"][0]

#print(seq_header)

Iterating over the other strings

In [15]:
#This code splits the header sequence from their periods (.)

#for i in seq_df["Header"]:
   # id = i.split(".")
  #  print(id)

This code performs functions that converts, splits, renames, and inserts variables, columns, and data types in the dataframe

In [4]:


#This line creates a seperate table for the sequence data and converts it into a string 
seq_data = seq_df["Sequence"].astype(str)

#This line splits the string into five categories and creates 5 columns
id = seq_df['Header'].str.split(".", n = 4 ,expand=True)
id.rename(columns={0: "Subtype", 1: "Country", 2: "Year", 3: "Sequence ID", 4: "Sequence Accession Number"}, inplace= 'TRUE')
id.insert(5, "Sequence Data", seq_data) 
id

,Subtype,Country,Year,Sequence ID,Sequence Accession Number,Sequence Data
0,B,FR,83,HXB2_LAI_IIIB_BRU,K03455,MRVK--EKY--Q---HL-W-------R-WG---W------------...
1,A,CD,87,P4039,MH705157,MRVM--GTR--R----N-Y-------P-RL---W------------...
2,A,CH,03,HIV_CH_BID_V3538_2003,JQ403028,MRVM--GMQ--R----N-Y-------P-HW---W------------...
3,A,ZA,04,04ZASK162B1,DQ396400,MRVM--ETQ--R----N-Y-------P-RW---W------------...
4,A,ZA,09,707PKE02N3,HM623589,MRVR--GTQ--M----N-C-------Q-GW---W------------...
...,...,...,...,...,...,...
10728,N,CM,95,YBF30_patent,HV199816,MKVM--GMQ-------S-GW-----MGM------------------...
10729,N,CM,97,YBF106,AJ271370,M-----GMQ-------S-G---------------------------...
10730,N,FR,11,N1_FR_2011,JN572926,MRVM--GMK-------S-Y---------------------------...
10731,P,CM,06,U14788,HQ179987,----------------------------------------------...
10732,P,FR,06,RBF168,GQ328744,----------------------------------------------...

This code identifies the 'x' value in Year and Country removes it

In [5]:

id = id[~id["Year"].isin(["x"]) & ~id["Country"].isin(["x"])]

display(id)
print(id.shape)

,Subtype,Country,Year,Sequence ID,Sequence Accession Number,Sequence Data
0,B,FR,83,HXB2_LAI_IIIB_BRU,K03455,MRVK--EKY--Q---HL-W-------R-WG---W------------...
1,A,CD,87,P4039,MH705157,MRVM--GTR--R----N-Y-------P-RL---W------------...
2,A,CH,03,HIV_CH_BID_V3538_2003,JQ403028,MRVM--GMQ--R----N-Y-------P-HW---W------------...
3,A,ZA,04,04ZASK162B1,DQ396400,MRVM--ETQ--R----N-Y-------P-RW---W------------...
4,A,ZA,09,707PKE02N3,HM623589,MRVR--GTQ--M----N-C-------Q-GW---W------------...
...,...,...,...,...,...,...
10728,N,CM,95,YBF30_patent,HV199816,MKVM--GMQ-------S-GW-----MGM------------------...
10729,N,CM,97,YBF106,AJ271370,M-----GMQ-------S-G---------------------------...
10730,N,FR,11,N1_FR_2011,JN572926,MRVM--GMK-------S-Y---------------------------...
10731,P,CM,06,U14788,HQ179987,----------------------------------------------...
10732,P,FR,06,RBF168,GQ328744,----------------------------------------------...

(9975, 6)

This code converts the year into an int

In [6]:

id["Year"] = pd.to_numeric(id["Year"], errors="coerce")

#Drop rows where Year could not be converted
id = id.dropna(subset=["Year"])

#Convert the values to integer
id["Year"] = id["Year"].astype(int)
print(id)

      Subtype Country  Year            Sequence ID Sequence Accession Number  \
0           B      FR    83      HXB2_LAI_IIIB_BRU                    K03455
1           A      CD    87                  P4039                  MH705157
2           A      CH     3  HIV_CH_BID_V3538_2003                  JQ403028
3           A      ZA     4            04ZASK162B1                  DQ396400
4           A      ZA     9             707PKE02N3                  HM623589
...       ...     ...   ...                    ...                       ...
10728       N      CM    95           YBF30_patent                  HV199816
10729       N      CM    97                 YBF106                  AJ271370
10730       N      FR    11             N1_FR_2011                  JN572926
10731       P      CM     6                 U14788                  HQ179987
10732       P      FR     6                 RBF168                  GQ328744

                                           Sequence Data
0      MRVK--EKY--Q---HL-W-------R-WG---W------------...
1      MRVM--GTR--R----N-Y-------P-RL---W------------...
2      MRVM--GMQ--R----N-Y-------P-HW---W------------...
3      MRVM--ETQ--R----N-Y-------P-RW---W------------...
4      MRVR--GTQ--M----N-C-------Q-GW---W------------...
...                                                  ...
10728  MKVM--GMQ-------S-GW-----MGM------------------...
10729  M-----GMQ-------S-G---------------------------...
10730  MRVM--GMK-------S-Y---------------------------...
10731  ----------------------------------------------...
10732  ----------------------------------------------...

[9975 rows x 6 columns]

/var/folders/l1/19jvgx017kgctbbr17ykrxk00000gn/T/ipykernel_9253/2619861226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  id["Year"] = pd.to_numeric(id["Year"], errors="coerce")

#Unique Numbers

This code obtains the unique numbers and sorts it by descending order in the dataframe

In [14]:
#Gap between 22 and 76 so cut-off value is < 75

unique_num = id['Year'].drop_duplicates()
unique_num_sort = unique_num.sort_values()
print(unique_num_sort)

27        99
9214    1976
3626    1978
3628    1979
3633    1981
1126    1982
0       1983
3652    1984
319     1985
168     1986
1       1987
1818    1988
1633    1989
169     1990
54      1991
243     1992
170     1993
6       1994
175     1995
178     1996
7       1997
182     1998
65      2000
88      2001
14      2002
2       2003
3       2004
28      2005
20      2006
21      2007
22      2008
4       2009
135     2010
23      2011
164     2012
49      2013
193     2014
50      2015
51      2016
236     2017
239     2018
240     2019
619     2020
812     2021
3625    2022
Name: Year, dtype: int64

This code appends the values so years that are < than 75 have a 20 appended to the front

In [12]:
#Adjust the years

id["Year"] = id["Year"]

#id.loc[id["Year"] < 75, "Year"] += 2000
#id.loc[id["Year"] >= 1999, "Year"] -= 1900



display(id)

,Subtype,Country,Year,Sequence ID,Sequence Accession Number,Sequence Data
0,B,FR,1983,HXB2_LAI_IIIB_BRU,K03455,MRVK--EKY--Q---HL-W-------R-WG---W------------...
1,A,CD,1987,P4039,MH705157,MRVM--GTR--R----N-Y-------P-RL---W------------...
2,A,CH,2003,HIV_CH_BID_V3538_2003,JQ403028,MRVM--GMQ--R----N-Y-------P-HW---W------------...
3,A,ZA,2004,04ZASK162B1,DQ396400,MRVM--ETQ--R----N-Y-------P-RW---W------------...
4,A,ZA,2009,707PKE02N3,HM623589,MRVR--GTQ--M----N-C-------Q-GW---W------------...
...,...,...,...,...,...,...
10728,N,CM,1995,YBF30_patent,HV199816,MKVM--GMQ-------S-GW-----MGM------------------...
10729,N,CM,1997,YBF106,AJ271370,M-----GMQ-------S-G---------------------------...
10730,N,FR,2011,N1_FR_2011,JN572926,MRVM--GMK-------S-Y---------------------------...
10731,P,CM,2006,U14788,HQ179987,----------------------------------------------...
10732,P,FR,2006,RBF168,GQ328744,----------------------------------------------...

#Query Test

These code queries the results based on subtype, country, and year

This code queries the subtype

In [11]:
id.query('Subtype in ("B", "A")')

,Subtype,Country,Year,Sequence ID,Sequence Accession Number,Sequence Data
0,B,FR,1983,HXB2_LAI_IIIB_BRU,K03455,MRVK--EKY--Q---HL-W-------R-WG---W------------...
1,A,CD,1987,P4039,MH705157,MRVM--GTR--R----N-Y-------P-RL---W------------...
2,A,CH,2003,HIV_CH_BID_V3538_2003,JQ403028,MRVM--GMQ--R----N-Y-------P-HW---W------------...
3,A,ZA,2004,04ZASK162B1,DQ396400,MRVM--ETQ--R----N-Y-------P-RW---W------------...
4,A,ZA,2009,707PKE02N3,HM623589,MRVR--GTQ--M----N-C-------Q-GW---W------------...
...,...,...,...,...,...,...
4172,B,ZA,1986,R1296,MH234639,MRVK--GTR--K----N-Y-------Q-HL---WRWG---------...
4173,B,ZA,1987,R459,MH234640,MKAK--ETR--K----N-Y-------Q-HW---W------------...
4174,B,ZA,1987,R526,MH234641,MKVK--GIR--K----N-Y-------Q-HL---W------------...
4175,B,ZA,1998,TV016,KJ948656,MRVK--ETR--K----N-C-------Q-HL---W------------...
4176,B,ZA,99,99ZASM1,AY505010,MTVK--GTR--K----S-Y-------Q-HL---W------------...

This code queries the countries

In [17]:
id.query('Country in ("CD")')

,Subtype,Country,Year,Sequence ID,Sequence Accession Number,Sequence Data
1,A,CD,1987,P4039,MH705157,MRVM--GTR--R----N-Y-------P-RL---W------------...
14,A1,CD,2002,LA01AlPr,KU168256,MRVM--GTQ--K----S-Y-------Q-NL---W------------...
15,A1,CD,1987,2106,MH705158,MRAM--GTQ--M----N-W-------Q-NL---W------------...
16,A1,CD,1987,70641,MH705151,MRVM--GTQ--R----N-Y-------P-LL---W------------...
17,A1,CD,1987,PBS6126,MH705153,MRVI--GTQ--R----N-Y-------S-SL---W------------...
...,...,...,...,...,...,...
10610,U,CD,2002,CG_0059_01_NGSID8,KY392773,MRVM--GTQ--R----N-Y-------P-HL---W------------...
10611,U,CD,2002,CG_0062_01_NGSID10,KY392774,MRVM--GTQ--R----N-Y-------P-HL---W------------...
10612,U,CD,2002,CG_0575_02_NGSID12,KY392775,MRVR--GRQ--R----N-W-------Q-PW---G------------...
10613,U,CD,1997,KMST120,AJ401039,MRVR--EMQ--R----N-W-------Q-NL---G------------...
10614,U,CD,1997,KTB54,AJ401043,MKVT--GIQ--R----N-W-------H-HL---G------------...

This code queries the years

In [23]:
#This code calls a range of years and sorts it by numerical value

# Filter the data for years between 1980 and 2000 
query_test = id.query('Year >= 1980 & Year <= 2000')

# When it gives you the range of the years you have to sort the filtered data by the 'Year' column
query_test_sorted = query_test.sort_values(by="Year")

print(query_test_sorted)

     Subtype Country  Year    Sequence ID Sequence Accession Number  \
3639       B      US  1981          81NY3                  AY247224
3638       B      US  1981          81NY2                  AY247223
3637       B      US  1981          81NY1                  AY247222
3636       B      US  1981           81NJ                  AY247221
3635       B      US  1981           81GA                  AY247220
...      ...     ...   ...            ...                       ...
8433   14_BG      ES  2000           X475                  AF423758
4539       C      IN  2000  HIV_0013095_2                  EF117267
4328       C      BW  2000    DEMC00BW014                  KY658706
2099       B      KR  2000  00LJI12_13346                  KU869602
5087       C      ZA  2000         1217MB                  AY463226

                                          Sequence Data
3639  MRVK--ETR--K----N-Y-------Q-HL---W------------...
3638  MKVK--EIR--K----N-Y-------Q-HL---W------------...
3637  MRAK--VIR--K----N-C-------Q-HL---W------------...
3636  MRVK--EIR--K----N-Y-------Q-HL---W------------...
3635  MRVK--EIG--K----N-Y-------Q-YL---W------------...
...                                                 ...
8433  MKAN--RTQ--R----N-W-------Q-SL---W------------...
4539  MRVK--GIL--R----N-Y-------Q-QW---W------------...
4328  MRVM--GIQ--K----N-C-------Q-QW---W------------...
2099  MRVK--GIR--K----N-Y-------Q-HW---W------------...
5087  MRVK--GIL--R----N-W-------P-QW---W------------...

[1423 rows x 6 columns]

In [83]:
query_test = id.query('Year == 1976')
print(query_test)

     Subtype Country  Year Sequence ID Sequence Accession Number  \
9214   01A1G      CD  1976        Z321                    M15896

                                          Sequence Data  Year_adjust
9214  MKVK--GIQ--G----N-W-------Q-NW---W------------...         3876